################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/often.vcxproj.user
/often.vcxproj.filters
/often.vcxproj
/often.sln
/often
/x64/Debug
/x64/Release
.vs/
